Source: ros-noetic-pincher-arm-moveit-demos
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-moveit-core, ros-noetic-moveit-ros-planning-interface, ros-noetic-roscpp, ros-noetic-tf2-geometry-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-pincher-arm-moveit-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-moveit-core, ros-noetic-moveit-ros-planning-interface, ros-noetic-roscpp, ros-noetic-tf2-geometry-msgs
Description: Moveit demos for the PhantomX Pincher arm.
