Source: ros-noetic-pincher-arm-bringup
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-pincher-arm-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-arbotix-controllers, ros-noetic-arbotix-python, ros-noetic-control-msgs, ros-noetic-pincher-arm-description, ros-noetic-robot-state-publisher, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-xacro
Description: Launch files for starting PhantomX Pincher arm drivers.
